extends layout

block content
  h1= title

  - let hensid = toShow._id
  - let hensname = toShow.hensname
  - let habitat = toShow.habitat
  - let classification = toShow.classification
  - let price = toShow.price
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{hensid}
  - let actionid = "/resource/hens/" + hensid
  form(id='hensForm', action= actionid, method="PUT")
    div.form-group
        label.hensAttr(for='hensname') hens name
        input#hensname(type='text', name='hensname', value= hensname)
    div.form-group
        label.hensAttr(for='habitat') hens size
        input#habitat(type='text', name='habitat', value= habitat )
    div.form-group
        label.hensAttr(for='classification') classification
        input#classification(type='text', name='classification', value= classification )
    div.form-group
        label.hensAttr(for='price') price
        input#price(type='number', name='price', value= price )
    input(type="submit")

  script.
    document.forms['hensForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });

